---
openapi: 3.0.1
info:
  title: Europace Report API
  description: Report API can deliver reports from Europace.
  version: '2021-11-26T14:00:12Z'
servers:
- url: https://report.api.europace.de
paths:
  "/produktanbieter":
    post:
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/prodapisuXCWKXDXOLFB1"
        required: true
      responses:
        '202':
          description: 202 response
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1MYJ7WGUJCSFQ"
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
        '403':
          description: 403 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimoUYFMABPKNA69"
      security:
      - gretastackapiauthauthorizerEF0F12B5: []
    options:
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
  "/rohdaten":
    post:
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/prodapisuHU6WX78PTO1C"
        required: true
      responses:
        '202':
          description: 202 response
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1MYJ7WGUJCSFQ"
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
        '403':
          description: 403 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimoUYFMABPKNA69"
      security:
      - gretastackapiauthauthorizerEF0F12B5: []
    options:
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
  "/rohdaten/{reportId}":
    get:
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RRGP2Y2Q1W5K"
        '303':
          description: 303 response
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1MYJ7WGUJCSFQ"
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
        '403':
          description: 403 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimoUYFMABPKNA69"
        '404':
          description: 404 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
      security:
      - gretastackapiauthauthorizerEF0F12B5: []
    options:
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
  "/documentation":
    get:
      responses:
        '200':
          description: 200 response
          content: {}
    options:
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
  "/produktanbieter/{reportId}":
    get:
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RRGP2Y2Q1W5K"
        '303':
          description: 303 response
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1MYJ7WGUJCSFQ"
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
        '403':
          description: 403 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimoUYFMABPKNA69"
        '404':
          description: 404 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
        '500':
          description: 500 response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/prodapimo1RG270K0PZ0J4"
      security:
      - gretastackapiauthauthorizerEF0F12B5: []
    options:
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
  "/":
    options:
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
components:
  schemas:
    prodapimo1RG270K0PZ0J4:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
    prodapimo1RRGP2Y2Q1W5K:
      title: await report response (while the report is still being generated)
      type: object
      properties:
        status:
          type: string
          enum:
          - PROCESSING
          - REQUESTED
    prodapimo1MYJ7WGUJCSFQ:
      type: string
    prodapimoUYFMABPKNA69:
      type: object
      properties:
        message:
          type: string
    prodapisuHU6WX78PTO1C:
      title: request Vertriebs-Rohdaten-Report
      type: object
      properties:
        fromDay:
          pattern: "^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$"
          type: string
          description: Date in YYYY-MM-DD format. Filter condition is "Datum" >= $fromDay.
            If not set, the previous day is considered set.
    prodapisuXCWKXDXOLFB1:
      title: request Produktanbieter-Report
      type: object
      properties:
        fromDay:
          pattern: "^\\d{4}\\-(0[1-9]|1[012])\\-(0[1-9]|[12][0-9]|3[01])$"
          type: string
          description: Date in YYYY-MM-DD format. Filter condition is "Datum" >= $fromDay.
            If not set, the previous day is considered set.
  securitySchemes:
    gretastackapiauthauthorizerEF0F12B5:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
